# Retail Store EDA (Exploratory Data Analysis)

Exploring, understanding, and identifying data quality issues

---

## Imports

Importing needed libraries and environment setup

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Display settings
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

In [3]:
# Visualization settings
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

In [4]:
print("="*80)
print("RETAIL STORE DATA - EXPLORATORY DATA ANALYSIS")
print("="*80)

================================================================================
RETAIL STORE DATA - EXPLORATORY DATA ANALYSIS
================================================================================

---

## DATA LOADING & INITIAL OVERVIEW

In [5]:
print("\n" + "="*80)
print("SECTION 1: DATA LOADING & INITIAL OVERVIEW")
print("="*80)

================================================================================
SECTION 1: DATA LOADING & INITIAL OVERVIEW
================================================================================

In [6]:
# Load datasets
data_path = "DataSources/"

In [7]:
try:
    brands = pd.read_csv(f'{data_path}brands.csv', encoding='utf-8')
    categories = pd.read_csv(f'{data_path}categories.csv', encoding='utf-8')
    products = pd.read_csv(f'{data_path}products.csv', encoding='utf-8')
    customers = pd.read_csv(f'{data_path}customers.csv', encoding='utf-8')
    orders = pd.read_csv(f'{data_path}orders.csv', encoding='utf-8')
    order_items = pd.read_csv(f'{data_path}order_items.csv', encoding='utf-8')
    staffs = pd.read_csv(f'{data_path}staffs.csv', encoding='utf-8')
    stores = pd.read_csv(f'{data_path}stores.csv', encoding='utf-8')
    stocks = pd.read_csv(f'{data_path}stocks.csv', encoding='utf-8')
    print("‚úì All datasets loaded successfully (UTF-8)")
except:
    brands = pd.read_csv(f'{data_path}brands.csv', encoding='latin-1')
    categories = pd.read_csv(f'{data_path}categories.csv', encoding='latin-1')
    products = pd.read_csv(f'{data_path}products.csv', encoding='latin-1')
    customers = pd.read_csv(f'{data_path}customers.csv', encoding='latin-1')
    orders = pd.read_csv(f'{data_path}orders.csv', encoding='latin-1')
    order_items = pd.read_csv(f'{data_path}order_items.csv', encoding='latin-1')
    staffs = pd.read_csv(f'{data_path}staffs.csv', encoding='latin-1')
    stores = pd.read_csv(f'{data_path}stores.csv', encoding='latin-1')
    stocks = pd.read_csv(f'{data_path}stocks.csv', encoding='latin-1')
    print("‚úì All datasets loaded successfully (Latin-1)")

‚úì All datasets loaded successfully (UTF-8)

In [8]:
# Store in dictionary for easy iteration
datasets = {
    'brands': brands,
    'categories': categories,
    'products': products,
    'customers': customers,
    'orders': orders,
    'order_items': order_items,
    'staffs': staffs,
    'stores': stores,
    'stocks': stocks
}

In [9]:
# Overview of all datasets
print("\n" + "-"*60)
print("DATASET DIMENSIONS:")
print("-"*60)
print(f"{'Dataset':<20} {'Rows':>10} {'Columns':>10}")
print("-"*60)
for name, df in datasets.items():
    print(f"{name:<20} {df.shape[0]:>10} {df.shape[1]:>10}")

------------------------------------------------------------
DATASET DIMENSIONS:
------------------------------------------------------------
Dataset                    Rows    Columns
------------------------------------------------------------
brands                        9          2
categories                    7          2
products                    334          6
customers                  1445          9
orders                     1615          8
order_items                4764          6
staffs                       10          8
stores                        3          8
stocks                      939          3

---

## COLUMN NAME ANALYSIS

In [10]:
print("\n" + "="*80)
print("SECTION 2: COLUMN NAME ANALYSIS")
print("="*80)

================================================================================
SECTION 2: COLUMN NAME ANALYSIS
================================================================================

In [11]:
print("\nüîç Analyzing column naming conventions...")
for name, df in datasets.items():
    print(f"\n--- {name.upper()} ---")
    print(f"Columns: {list(df.columns)}")

    # Check for inconsistencies
    has_spaces = any(' ' in col for col in df.columns)
    has_uppercase = any(col != col.lower() for col in df.columns)

    if has_spaces:
        print("  ‚ö†Ô∏è  Contains spaces in column names")
    if has_uppercase:
        print("  ‚ö†Ô∏è  Contains uppercase letters")
    if not has_spaces and not has_uppercase:
        print("  ‚úì Column names are clean")

üîç Analyzing column naming conventions...

--- BRANDS ---
Columns: ['brand_id', 'brand_name']
  ‚úì Column names are clean

--- CATEGORIES ---
Columns: ['category_id', 'category_name']
  ‚úì Column names are clean

--- PRODUCTS ---
Columns: ['product_id', 'product_name', 'brand_id', 'category_id', 'model_year', 'list_price']
  ‚úì Column names are clean

--- CUSTOMERS ---
Columns: ['customer_id', 'first_name', 'last_name', 'phone', 'email', 'street', 'city', 'state', 'zip_code']
  ‚úì Column names are clean

--- ORDERS ---
Columns: ['order_id', 'customer_id', 'order_status', 'order_date', 'required_date', 'shipped_date', 'store_id', 'staff_id']
  ‚úì Column names are clean

--- ORDER_ITEMS ---
Columns: ['order_id', 'item_id', 'product_id', 'quantity', 'list_price', 'discount']
  ‚úì Column names are clean

--- STAFFS ---
Columns: ['staff_id', 'first_name', 'last_name', 'email', 'phone', 'active', 'store_id', 'manager_id']
  ‚úì Column names are clean

--- STORES ---
Columns: ['store_id', 'store_name', 'phone', 'email', 'street', 'city', 'state', 'zip_code']
  ‚úì Column names are clean

--- STOCKS ---
Columns: ['store_id', 'product_id', 'quantity']
  ‚úì Column names are clean

---

## DATA TYPES ANALYSIS

In [12]:
print("\n" + "="*80)
print("SECTION 3: DATA TYPES ANALYSIS")
print("="*80)

================================================================================
SECTION 3: DATA TYPES ANALYSIS
================================================================================

In [15]:
print("\nüîç Analyzing data types...")
for name, df in datasets.items():
    print(f"\n--- {name.upper()} ---")
    print(df.dtypes.to_string())

    # Identify potential type issues
    for col in df.columns:
        col_lower = col.lower()

        # ID columns
        if col_lower.endswith("id") and df[col].dtype != 'int64':
            print(f"  ‚ö†Ô∏è  {col} should be integer (currently {df[col].dtype})")

        # Price columns
        if "price" in col_lower and df[col].dtype not in ['float64', 'int64']:
            print(f"  ‚ö†Ô∏è  {col} should be numeric (currently {df[col].dtype})")

        # Date columns
        if "date" in col_lower and df[col].dtype != 'datetime64[ns]':
            print(f"  ‚ö†Ô∏è  {col} should be datetime (currently {df[col].dtype})")

        # Name columns (brand_name, product_name, customer_name...)
        if col_lower.endswith("name"):
            if df[col].dtype != 'string':
                print(f"  ‚ö†Ô∏è  {col} should be string (currently {df[col].dtype})")

üîç Analyzing data types...

--- BRANDS ---
brand_id       int64
brand_name    object
  ‚ö†Ô∏è  brand_name should be string (currently object)

--- CATEGORIES ---
category_id       int64
category_name    object
  ‚ö†Ô∏è  category_name should be string (currently object)

--- PRODUCTS ---
product_id        int64
product_name     object
brand_id          int64
category_id       int64
model_year        int64
list_price      float64
  ‚ö†Ô∏è  product_name should be string (currently object)

--- CUSTOMERS ---
customer_id     int64
first_name     object
last_name      object
phone          object
email          object
street         object
city           object
state          object
zip_code        int64
  ‚ö†Ô∏è  first_name should be string (currently object)
  ‚ö†Ô∏è  last_name should be string (currently object)

--- ORDERS ---
order_id          int64
customer_id       int64
order_status      int64
order_date       object
required_date    object
shipped_date     object
store_id          int64
staff_id          int64
  ‚ö†Ô∏è  order_date should be datetime (currently object)
  ‚ö†Ô∏è  required_date should be datetime (currently object)
  ‚ö†Ô∏è  shipped_date should be datetime (currently object)

--- ORDER_ITEMS ---
order_id        int64
item_id        object
product_id      int64
quantity        int64
list_price    float64
discount      float64
  ‚ö†Ô∏è  item_id should be integer (currently object)

--- STAFFS ---
staff_id        int64
first_name     object
last_name      object
email          object
phone          object
active          int64
store_id      float64
manager_id    float64
  ‚ö†Ô∏è  first_name should be string (currently object)
  ‚ö†Ô∏è  last_name should be string (currently object)
  ‚ö†Ô∏è  store_id should be integer (currently float64)
  ‚ö†Ô∏è  manager_id should be integer (currently float64)

--- STORES ---
store_id        int64
store_name     object
phone          object
email          object
street         object
city           object
state          object
zip_code      float64
  ‚ö†Ô∏è  store_name should be string (currently object)

--- STOCKS ---
store_id      int64
product_id    int64
quantity      int64

---

## MISSING VALUES ANALYSIS

In [16]:
print("\n" + "="*80)
print("SECTION 4: MISSING VALUES ANALYSIS")
print("="*80)

================================================================================
SECTION 4: MISSING VALUES ANALYSIS
================================================================================

In [17]:
print("\nüîç Analyzing missing values...")
for name, df in datasets.items():
    missing = df.isnull().sum()
    missing_pct = (missing / len(df) * 100).round(2)

    if missing.sum() > 0:
        print(f"\n--- {name.upper()} ---")
        missing_df = pd.DataFrame({
            'Column': missing.index,
            'Missing': missing.values,
            'Percentage': missing_pct.values
        })
        missing_df = missing_df[missing_df['Missing'] > 0]
        print(missing_df.to_string(index=False))

        # Provide recommendations
        print("\n  üí° Recommendations:")
        for _, row in missing_df.iterrows():
            if row['Percentage'] > 50:
                print(f"    - {row['Column']}: >50% missing, consider dropping column")
            elif 'phone' in row['Column'].lower() or 'email' in row['Column'].lower():
                print(f"    - {row['Column']}: Fill with 'Unknown'")
            elif 'price' in row['Column'].lower():
                print(f"    - {row['Column']}: Consider median imputation")
            else:
                print(f"    - {row['Column']}: Analyze pattern and decide strategy")
    else:
        print(f"\n--- {name.upper()} ---")
        print("  ‚úì No missing values")

üîç Analyzing missing values...

--- BRANDS ---
  ‚úì No missing values

--- CATEGORIES ---
  ‚úì No missing values

--- PRODUCTS ---
  ‚úì No missing values

--- CUSTOMERS ---
Column  Missing  Percentage
 phone     1267       87.68

  üí° Recommendations:
    - phone: >50% missing, consider dropping column

--- ORDERS ---
      Column  Missing  Percentage
shipped_date      170       10.53

  üí° Recommendations:
    - shipped_date: Analyze pattern and decide strategy

--- ORDER_ITEMS ---
  ‚úì No missing values

--- STAFFS ---
    Column  Missing  Percentage
 last_name        1        10.0
     email        1        10.0
     phone        2        20.0
  store_id        1        10.0
manager_id        1        10.0

  üí° Recommendations:
    - last_name: Analyze pattern and decide strategy
    - email: Fill with 'Unknown'
    - phone: Fill with 'Unknown'
    - store_id: Analyze pattern and decide strategy
    - manager_id: Analyze pattern and decide strategy

--- STORES ---
  Column  Missing  Percentage
   email        1       33.33
zip_code        1       33.33

  üí° Recommendations:
    - email: Fill with 'Unknown'
    - zip_code: Analyze pattern and decide strategy

--- STOCKS ---
  ‚úì No missing values

---

## DUPLICATE ANALYSIS

In [18]:
print("\n" + "="*80)
print("SECTION 5: DUPLICATE ANALYSIS")
print("="*80)

================================================================================
SECTION 5: DUPLICATE ANALYSIS
================================================================================

In [23]:
print("\nüîç Analyzing duplicates...")

for name, df in datasets.items():
    # Full-row duplicate detection
    full_dup_mask = df.duplicated(keep=False)         # marks *all* occurrences
    duplicate_count = df.duplicated().sum()           # number of duplicates excluding first occurrences

    pct = (duplicate_count / len(df) * 100) if len(df) > 0 else 0

    print(f"\n{name:15} : {duplicate_count:6} duplicate rows ({pct:.2f}%)")

    if duplicate_count > 0:
        print(f"  ‚ö†Ô∏è  Action needed: Remove {duplicate_count} duplicate rows")

        # Show a few duplicated rows (both copies)
        dup_sample = df[full_dup_mask].head(4)        # head(4) shows 2 groups typically
        print("\n  Sample duplicates:")
        print(dup_sample)

üîç Analyzing duplicates...

brands          :      0 duplicate rows (0.00%)

categories      :      0 duplicate rows (0.00%)

products        :     13 duplicate rows (3.89%)
  ‚ö†Ô∏è  Action needed: Remove 13 duplicate rows

  Sample duplicates:
    product_id                                   product_name  brand_id  \
11          12             Electra Townie Original 21D - 2016         1
12          13             Electra Cruiser 1 (24-Inch) - 2016         1
13          14  Electra Girl's Hawaii 1 (16-inch) - 2015/2016         1
15          12             Electra Townie Original 21D - 2016         1

    category_id  model_year  list_price
11            3        2016      549.99
12            3        2016      269.99
13            3        2016      269.99
15            3        2016      549.99

customers       :      0 duplicate rows (0.00%)

orders          :      0 duplicate rows (0.00%)

order_items     :     34 duplicate rows (0.71%)
  ‚ö†Ô∏è  Action needed: Remove 34 duplicate rows

  Sample duplicates:
    order_id item_id  product_id  quantity  list_price  discount
6          2       2          16         2      599.99      0.05
7          3       1           3         1      999.99      0.05
11         2       2          16         2      599.99      0.05
12         3       1           3         1      999.99      0.05

staffs          :      0 duplicate rows (0.00%)

stores          :      0 duplicate rows (0.00%)

stocks          :      0 duplicate rows (0.00%)

---

## DATA QUALITY ISSUES DETECTION

In [24]:
print("\n" + "="*80)
print("SECTION 6: DATA QUALITY ISSUES DETECTION")
print("="*80)

================================================================================
SECTION 6: DATA QUALITY ISSUES DETECTION
================================================================================

In [25]:
print("\nüîç Detecting data quality issues...")

# Check PRODUCTS
if 'products' in datasets:
    print("\n--- PRODUCTS ---")
    products = datasets['products']

    # Negative prices
    if 'list_price' in products.columns:
        neg_prices = (products['list_price'] < 0).sum()
        if neg_prices > 0:
            print(f"  ‚ö†Ô∏è  {neg_prices} products with negative prices")
        else:
            print(f"  ‚úì No negative prices")

    # Price range
    if 'list_price' in products.columns:
        print(f"  üìä Price range: ${products['list_price'].min():.2f} - ${products['list_price'].max():.2f}")

üîç Detecting data quality issues...

--- PRODUCTS ---
  ‚úì No negative prices
  üìä Price range: $89.99 - $11999.99

In [26]:
# Check ORDER_ITEMS
if 'order_items' in datasets:
    print("\n--- ORDER_ITEMS ---")
    order_items = datasets['order_items']

    # Negative quantities
    if 'quantity' in order_items.columns:
        neg_qty = (order_items['quantity'] < 0).sum()
        zero_qty = (order_items['quantity'] == 0).sum()
        if neg_qty > 0:
            print(f"  ‚ö†Ô∏è  {neg_qty} items with negative quantity")
        if zero_qty > 0:
            print(f"  ‚ö†Ô∏è  {zero_qty} items with zero quantity")
        if neg_qty == 0 and zero_qty == 0:
            print(f"  ‚úì All quantities are positive")

    # Discount range
    if 'discount' in order_items.columns:
        print(f"  üìä Discount range: {order_items['discount'].min():.2f} - {order_items['discount'].max():.2f}")
        invalid_discount = ((order_items['discount'] < 0) | (order_items['discount'] > 1)).sum()
        if invalid_discount > 0:
            print(f"  ‚ö†Ô∏è  {invalid_discount} items with invalid discount (should be 0-1)")

--- ORDER_ITEMS ---
  ‚úì All quantities are positive
  üìä Discount range: 0.05 - 0.20

In [27]:
# Check CUSTOMERS
if 'customers' in datasets:
    print("\n--- CUSTOMERS ---")
    customers = datasets['customers']

    # Phone number patterns
    if 'phone' in customers.columns:
        non_null_phones = customers['phone'].dropna()
        multi_phones = non_null_phones[non_null_phones.astype(str).str.contains(',', na=False)]
        print(f"  üìä Total customers: {len(customers)}")
        print(f"  üìä Customers with phone: {len(non_null_phones)}")
        if len(multi_phones) > 0:
            print(f"  ‚ö†Ô∏è  {len(multi_phones)} customers with multiple phone numbers")
            print(f"      Example: {multi_phones.iloc[0]}")

--- CUSTOMERS ---
  üìä Total customers: 1445
  üìä Customers with phone: 178

In [28]:
# Check ORDERS
if 'orders' in datasets:
    print("\n--- ORDERS ---")
    orders = datasets['orders']

    # Date consistency
    if all(col in orders.columns for col in ['order_date', 'required_date', 'shipped_date']):
        # Convert to datetime for analysis (temporary, doesn't modify original)
        order_date_temp = pd.to_datetime(orders['order_date'], errors='coerce')
        required_date_temp = pd.to_datetime(orders['required_date'], errors='coerce')

        date_issues = (required_date_temp < order_date_temp).sum()
        if date_issues > 0:
            print(f"  ‚ö†Ô∏è  {date_issues} orders where required_date < order_date")
        else:
            print(f"  ‚úì Date logic is consistent")

--- ORDERS ---
  ‚úì Date logic is consistent

---

## STATISTICAL SUMMARY

In [29]:
print("\n" + "="*80)
print("SECTION 7: STATISTICAL SUMMARY")
print("="*80)

================================================================================
SECTION 7: STATISTICAL SUMMARY
================================================================================

In [30]:
print("\nüìä Statistical summaries for numeric columns...")
for name, df in datasets.items():
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    if len(numeric_cols) > 0:
        print(f"\n--- {name.upper()} ---")
        print(df[numeric_cols].describe())

üìä Statistical summaries for numeric columns...

--- BRANDS ---
       brand_id
count  9.000000
mean   5.000000
std    2.738613
min    1.000000
25%    3.000000
50%    5.000000
75%    7.000000
max    9.000000

--- CATEGORIES ---
       category_id
count     7.000000
mean      4.000000
std       2.160247
min       1.000000
25%       2.500000
50%       4.000000
75%       5.500000
max       7.000000

--- PRODUCTS ---
       product_id    brand_id  category_id   model_year    list_price
count  334.000000  334.000000   334.000000   334.000000    334.000000
mean   160.886228    5.383234     3.964072  2017.580838   1498.053024
std     93.439960    3.721113     2.193061     0.674097   1600.829625
min      1.000000    1.000000     1.000000  2016.000000     89.990000
25%     81.250000    1.000000     2.000000  2017.000000    416.990000
50%    161.500000    7.000000     3.000000  2018.000000    749.990000
75%    241.750000    9.000000     6.000000  2018.000000   2299.990000
max    321.000000    9.000000     7.000000  2019.000000  11999.990000

--- CUSTOMERS ---
       customer_id      zip_code
count  1445.000000   1445.000000
mean    723.000000  34200.015225
std     417.279882  34733.933551
min       1.000000  10002.000000
25%     362.000000  11419.000000
50%     723.000000  11967.000000
75%    1084.000000  76110.000000
max    1445.000000  95993.000000

--- ORDERS ---
          order_id  customer_id  order_status     store_id     staff_id
count  1615.000000  1615.000000   1615.000000  1615.000000  1615.000000
mean    808.000000   654.171517      3.778947     1.892260     5.855108
std     466.354658   443.229967      0.693430     0.558395     1.913899
min       1.000000     1.000000      1.000000     1.000000     2.000000
25%     404.500000   237.000000      4.000000     2.000000     6.000000
50%     808.000000   638.000000      4.000000     2.000000     6.000000
75%    1211.500000  1041.500000      4.000000     2.000000     7.000000
max    1615.000000  1445.000000      4.000000     3.000000     9.000000

--- ORDER_ITEMS ---
          order_id   product_id     quantity     list_price     discount
count  4764.000000  4764.000000  4764.000000    4764.000000  4764.000000
mean    824.029597    59.797229     1.499790    1443.206001     0.105424
std     466.796271    67.769121     0.500052    5012.578586     0.058153
min       1.000000     2.000000     1.000000      89.990000     0.050000
25%     425.000000    14.000000     1.000000     429.000000     0.050000
50%     834.000000    29.000000     1.000000     599.990000     0.085000
75%    1228.250000    85.000000     2.000000    1549.000000     0.200000
max    1615.000000   315.000000     2.000000  259999.000000     0.200000

--- STAFFS ---
       staff_id  active  store_id  manager_id
count  10.00000    10.0  9.000000    9.000000
mean    5.50000     1.0  2.000000    3.444444
std     3.02765     0.0  0.866025    2.554952
min     1.00000     1.0  1.000000    1.000000
25%     3.25000     1.0  1.000000    1.000000
50%     5.50000     1.0  2.000000    2.000000
75%     7.75000     1.0  3.000000    5.000000
max    10.00000     1.0  3.000000    7.000000

--- STORES ---
       store_id      zip_code
count       3.0      2.000000
mean        2.0  43260.000000
std         1.0  45011.589263
min         1.0  11432.000000
25%         1.5  27346.000000
50%         2.0  43260.000000
75%         2.5  59174.000000
max         3.0  75088.000000

--- STOCKS ---
         store_id  product_id    quantity
count  939.000000  939.000000  939.000000
mean     2.000000  157.000000   14.388711
std      0.816932   90.403007    8.832070
min      1.000000    1.000000    0.000000
25%      1.000000   79.000000    7.000000
50%      2.000000  157.000000   14.000000
75%      3.000000  235.000000   22.000000
max      3.000000  313.000000   30.000000

---

## RELATIONSHIP ANALYSIS

In [31]:
print("\n" + "="*80)
print("SECTION 8: RELATIONSHIP ANALYSIS")
print("="*80)

================================================================================
SECTION 8: RELATIONSHIP ANALYSIS
================================================================================

In [32]:
# Foreign key relationships
relationships = [
    ('products', 'brand_id', 'brands', 'brand_id'),
    ('products', 'category_id', 'categories', 'category_id'),
    ('orders', 'customer_id', 'customers', 'customer_id'),
    ('orders', 'store_id', 'stores', 'store_id'),
    ('orders', 'staff_id', 'staffs', 'staff_id'),
    ('order_items', 'order_id', 'orders', 'order_id'),
    ('order_items', 'product_id', 'products', 'product_id'),
    ('stocks', 'store_id', 'stores', 'store_id'),
    ('stocks', 'product_id', 'products', 'product_id'),
]

In [33]:
print("\nüîç Analyzing relationships between tables...")

for child_table, child_key, parent_table, parent_key in relationships:
    if child_table in datasets and parent_table in datasets:
        child_df = datasets[child_table]
        parent_df = datasets[parent_table]

        if child_key in child_df.columns and parent_key in parent_df.columns:
            # Check referential integrity
            child_values = set(child_df[child_key].dropna().unique())
            parent_values = set(parent_df[parent_key].dropna().unique())
            orphaned = child_values - parent_values

            if len(orphaned) > 0:
                print(f"\n‚ö†Ô∏è  {child_table}.{child_key} ‚Üí {parent_table}.{parent_key}")
                print(f"    {len(orphaned)} orphaned records (no matching parent)")
                print(f"    Example orphaned IDs: {list(orphaned)[:5]}")
            else:
                print(f"\n‚úì {child_table}.{child_key} ‚Üí {parent_table}.{parent_key}")

üîç Analyzing relationships between tables...

‚úì products.brand_id ‚Üí brands.brand_id

‚úì products.category_id ‚Üí categories.category_id

‚úì orders.customer_id ‚Üí customers.customer_id

‚úì orders.store_id ‚Üí stores.store_id

‚úì orders.staff_id ‚Üí staffs.staff_id

‚úì order_items.order_id ‚Üí orders.order_id

‚úì order_items.product_id ‚Üí products.product_id

‚úì stocks.store_id ‚Üí stores.store_id

‚úì stocks.product_id ‚Üí products.product_id

---

## BUSINESS INSIGHTS (Preview)

In [34]:
print("\n" + "="*80)
print("SECTION 9: BUSINESS INSIGHTS PREVIEW")
print("="*80)

================================================================================
SECTION 9: BUSINESS INSIGHTS PREVIEW
================================================================================

In [36]:
print("\nüìà Preliminary business insights (based on raw data)...")

# Product distribution
if 'products' in datasets:
    products = datasets['products']
    print(f"\n--- PRODUCTS ---")
    print(f"Total products: {len(products)}")
    if 'brand_id' in products.columns:
        print(f"Unique brands: {products['brand_id'].nunique()}")
    if 'category_id' in products.columns:
        print(f"Unique categories: {products['category_id'].nunique()}")

üìà Preliminary business insights (based on raw data)...

--- PRODUCTS ---
Total products: 334
Unique brands: 9
Unique categories: 7

In [37]:
# Order overview
if 'orders' in datasets:
    orders = datasets['orders']
    print(f"\n--- ORDERS ---")
    print(f"Total orders: {len(orders)}")
    if 'customer_id' in orders.columns:
        print(f"Unique customers: {orders['customer_id'].nunique()}")
    if 'order_status' in orders.columns:
        print("\nOrder status distribution:")
        print(orders['order_status'].value_counts())

--- ORDERS ---
Total orders: 1615
Unique customers: 1445

Order status distribution:
order_status
4    1445
2      63
1      62
3      45
Name: count, dtype: int64

In [39]:
# Customer distribution
if 'customers' in datasets:
    customers = datasets['customers']
    print(f"\n--- CUSTOMERS ---")
    print(f"Total customers: {len(customers)}")
    if 'state' in customers.columns:
        print("\nStates:")
        print(customers['state'].value_counts())

--- CUSTOMERS ---
Total customers: 1445

States:
state
NY    1019
CA     284
TX     142
Name: count, dtype: int64

---

## DATA QUALITY SCORE

In [40]:
print("\n" + "="*80)
print("SECTION 10: DATA QUALITY SCORE")
print("="*80)

================================================================================
SECTION 10: DATA QUALITY SCORE
================================================================================

In [42]:
def calculate_quality_score(df, name):
    """Calculate a simple quality score (0-100)"""
    score = 100

    # Deduct for missing values
    missing_pct = (df.isnull().sum().sum() / (len(df) * len(df.columns))) * 100
    score -= min(missing_pct, 30)

    # Deduct for duplicates
    dup_pct = (df.duplicated().sum() / len(df)) * 100
    score -= min(dup_pct, 20)

    return max(0, round(score, 2))

In [43]:
print("\nüìä Calculating data quality scores...")

print("\nQuality Scores (0-100):")
for name, df in datasets.items():
    score = calculate_quality_score(df, name)

    if score >= 90:
        status = "‚úì Excellent"
    elif score >= 70:
        status = "‚ö†Ô∏è  Good"
    elif score >= 50:
        status = "‚ö†Ô∏è  Fair"
    else:
        status = "‚úó Poor"

    print(f"{name:15} : {score:6.2f} {status}")

üìä Calculating data quality scores...

Quality Scores (0-100):
brands          : 100.00 ‚úì Excellent
categories      : 100.00 ‚úì Excellent
products        :  96.11 ‚úì Excellent
customers       :  90.26 ‚úì Excellent
orders          :  98.68 ‚úì Excellent
order_items     :  99.29 ‚úì Excellent
staffs          :  92.50 ‚úì Excellent
stores          :  91.67 ‚úì Excellent
stocks          : 100.00 ‚úì Excellent

---

## CLEANING REQUIREMENTS CHECKLIST

In [44]:
print("\n" + "="*80)
print("SECTION 11: CLEANING REQUIREMENTS CHECKLIST")
print("="*80)

================================================================================
SECTION 11: CLEANING REQUIREMENTS CHECKLIST
================================================================================

In [46]:
checklist = {
    "Column Standardization": [
        "Convert all column names to lowercase",
        "Replace spaces with underscores"
    ],
    "Missing Values": [
        "Fill phone/email with 'Unknown' or appropriate values",
        "Handle missing dates appropriately",
        "Fill missing addresses with 'Unknown'"
    ],
    "Data Types": [
        "Convert all ID columns to integer",
        "Convert date columns to datetime",
        "Convert price columns to float"
    ],
    "Data Quality": [
        "Remove duplicate rows",
        "Remove negative quantities",
        "Remove/fix negative prices",
        "Extract first phone from multi-value fields",
        "Clean phone numbers (digits only)"
    ],
    "Transformations": [
        "Merge products with brands and categories",
        "Calculate total_price in order_items",
        "Calculate order_total for each order",
        "Create full_name for customers"
    ]
}

In [47]:
print("\nüìã Required cleaning actions for transformation pipeline:\n")

for category, items in checklist.items():
    print(f"\n{category}:")
    for item in items:
        print(f"  [ ] {item}")

üìã Required cleaning actions for transformation pipeline:


Column Standardization:
  [ ] Convert all column names to lowercase
  [ ] Replace spaces with underscores

Missing Values:
  [ ] Fill phone/email with 'Unknown' or appropriate values
  [ ] Handle missing dates appropriately
  [ ] Fill missing addresses with 'Unknown'

Data Types:
  [ ] Convert all ID columns to integer
  [ ] Convert date columns to datetime
  [ ] Convert price columns to float

Data Quality:
  [ ] Remove duplicate rows
  [ ] Remove negative quantities
  [ ] Remove/fix negative prices
  [ ] Extract first phone from multi-value fields
  [ ] Clean phone numbers (digits only)

Transformations:
  [ ] Merge products with brands and categories
  [ ] Calculate total_price in order_items
  [ ] Calculate order_total for each order
  [ ] Create full_name for customers

---

## VISUALIZATION OPPORTUNITIES

In [48]:
print("\n" + "="*80)
print("SECTION 12: SUGGESTED VISUALIZATIONS")
print("="*80)

================================================================================
SECTION 12: SUGGESTED VISUALIZATIONS
================================================================================

In [49]:
print("\nüìä Recommended visualizations after cleaning:")
print("""
1. Sales Analysis:
   - Revenue by brand
   - Revenue by category
   - Revenue by store
   - Sales trends over time

2. Product Analysis:
   - Product price distribution
   - Top 10 products by quantity sold
   - Top 10 products by revenue

3. Customer Analysis:
   - Customer distribution by state
   - Order frequency distribution
   - Customer lifetime value

4. Operational Analysis:
   - Staff performance (orders handled)
   - Store performance comparison
   - Order status distribution
   - Shipping time analysis
""")

üìä Recommended visualizations after cleaning:

1. Sales Analysis:
   - Revenue by brand
   - Revenue by category
   - Revenue by store
   - Sales trends over time

2. Product Analysis:
   - Product price distribution
   - Top 10 products by quantity sold
   - Top 10 products by revenue

3. Customer Analysis:
   - Customer distribution by state
   - Order frequency distribution
   - Customer lifetime value

4. Operational Analysis:
   - Staff performance (orders handled)
   - Store performance comparison
   - Order status distribution
   - Shipping time analysis

---

## FINAL SUMMARY

In [50]:
print("\n" + "="*80)
print("SECTION 13: INVESTIGATION SUMMARY")
print("="*80)

================================================================================
SECTION 13: INVESTIGATION SUMMARY
================================================================================

In [51]:
print("\nüìù Summary of findings:")
print("\nDatasets analyzed:", len(datasets))
print("\nKey issues identified:")
issues = []
for name, df in datasets.items():
    if df.isnull().sum().sum() > 0:
        issues.append(f"  - {name}: Missing values")
    if df.duplicated().sum() > 0:
        issues.append(f"  - {name}: Duplicates")

if issues:
    for issue in issues:
        print(issue)
else:
    print("  ‚úì No major issues found")

print("\n" + "="*80)
print("INVESTIGATION COMPLETE!")
print("Next step: Run the transformation pipeline (data_pipeline.py)")
print("="*80)

üìù Summary of findings:

Datasets analyzed: 9

Key issues identified:
  - products: Duplicates
  - customers: Missing values
  - orders: Missing values
  - order_items: Duplicates
  - staffs: Missing values
  - stores: Missing values

================================================================================
INVESTIGATION COMPLETE!
Next step: Run the transformation pipeline (data_pipeline.py)
================================================================================